<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="com.github.takemikami.checkstyle.customcheck.checks.naming.ClassNameByCaseCheck">
            <property name="format" value="^.*Bean$"/>
            <property name="caseType" value="annotation"/>
            <property name="caseFormat" value="JavaBean"/>
            <message key="name.invalidPattern"
                     value="Javabean class ''{0}'' must match pattern ''{1}''."/>
        </module>
    </module>
</module>